.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  
    &.open {
      opacity: 1;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      visibility: visible;
    }
  
    &.close {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 400px;
    position: relative;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  
    &.open {
      transform: translateY(0);
      opacity: 1;
    }
  
    &.close {
      transform: translateY(-20px);
      opacity: 0;
    }
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 24px;
    height: 42px;
    width: 42px;
    cursor: pointer;
    color: #191922;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(217, 217, 217, 23%) !important;
    border-radius: 100%;
  }
  